<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>19/07/14 15:53:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:tests.TC001_CreateLead@11053e1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@3606707</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/07/14 15:53:57</td>   <td>15094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:tests.TC001_CreateLead@11053e1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@3606707</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/07/14 15:53:37</td>   <td>-4427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@11053e1]">createLeadTest</td> 
  <td>main@3606707</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/07/14 15:53:53</td>   <td>11364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@11053e1]">createLeadTest</td> 
  <td>main@3606707</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/07/14 15:53:22</td>   <td>-19592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@11053e1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@3606707</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/07/14 15:53:44</td>   <td>2475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@11053e1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@3606707</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/07/14 15:53:20</td>   <td>-21365</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:tests.TC001_CreateLead@11053e1]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3606707</td>   <td></td> </tr>
</table>
